* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-100: #2E8B57;
    --primary-200: #61bc84;
    --primary-300: #c6ffe6;
    --accent-100: #8FBC8F;
    --accent-200: #345e37;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #1E1E1E;
    --bg-200: #2d2d2d;
    --bg-300: #454545;
}

body {
    background-color: var(--bg-100);
    color: var(--text-100);
    font-family: "Playwrite NZ Basic", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    background-color: var(--primary-100);
    color: var(--bg-200);
    padding: 0.3rem;
    text-align: center;
    box-shadow: 5px 0 10px var(--text-100);
    position: relative;
}

header h1 {
    font-family: "Montserrat", sans-serif;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

main ul.messages li {
    background-color: var(--primary-200);
    color: var(--text-200);
    padding: 0.3rem 1em;
    border-radius: 1rem;
    list-style: none;
    width: fit-content;
    margin: 0.3rem;
}

form {
    display: flex;
    align-items: center;
    background-color: var(--primary-300);
    padding: 0.3rem;
    gap: 0.3rem;
}

form input {
    flex-grow: 1;
    border: none;
    padding: 0.3rem 1rem;
    background-color: var(--bg-200);
    border-radius: 1rem;
}

form button {
    border: none;
    padding: 0.3rem 1rem;
    background-color: var(--bg-200);
    border-radius: 1rem;
    cursor: pointer;
}

.auth {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.3rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}